<p>trello works!</p>
<p>trello works!</p>
<p>trello works!</p>

<!-- Masthead -->
<div class="body">
    <!-- Lists container -->
    <section class="lists-container">
    
        <div class="list" *ngFor="let column of board">
    
            <h3 class="list-title">{{ column.title }}</h3>
    
            <ul [id]="column.id" class="list-items" (dragover)="onDragging($event)" (drop)="drop($event, column.id)">
                <li [id]="ticket.id" draggable="true" (dragstart)="drag($event, ticket, column.id)" *ngFor="let ticket of column.tickets" style="cursor: move;">
                    <h2>{{ ticket.title }}</h2>
                    <p>{{ ticket.description }}</p>
                    <div class="list-tags" >
                        <button *ngFor="let tag of ticket.tags">{{ tag }}</button>
                    </div>
                </li>
            </ul>
    
            <button class="add-card-btn btn">Add a card</button>
    
        </div>
    
        <button class="add-list-btn btn">Add a list</button>
    
    </section>
    <!-- End of lists container -->
</div>