.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    margin: 20px 0;
}

label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
}

// when the input is invalid
button:disabled,
button[disabled] {
    background-color: gray;
    cursor: not-allowed;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.radio-group, .checkbox-group {
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 600px) {
    .container {
        width: 90%;
    }
}