<p>enrollment-form works!</p>
<p>enrollment-form works!</p>
<p>enrollment-form works!</p>
<p>enrollment-form works!</p>

<p> {{ enrollmentForm.value | json }}</p>

<div class="container">
    <form [formGroup] = "enrollmentForm" (ngSubmit)="submitHandler()">
        <label for="name">Full Name</label>
        <input type="text" id="name" formControlName="name" required>
    
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" required>
        <p *ngIf="email?.invalid && email?.touched" style="color: red;"> Wrong email format </p>
        
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" required>
        <p *ngIf="password?.invalid && password?.touched" style="color: red;"> Weak password </p>

        <label for="gender">Gender</label>
        <div class="radio-group" id="gender">
            <input type="radio" id="male" formControlName="gender" value="male">
            <label for="male">Male</label>
            <input type="radio" id="female" formControlName="gender" value="female">
            <label for="female">Female</label>
            <input type="radio" id="others" formControlName="gender" value="others">
            <label for="others">Others</label>
        </div>
    
        <label for="interests">Interests</label>
        <div 
            class="checkbox-group" 
            id="interests"
            formArrayName="interests"
        >
            <div *ngFor="let interest of interests; let i = index">
                <input type="checkbox" [formControlName]="i">
                <span>{{ interest }}</span>
            </div>
        </div>
    
        <label for="course">Select Course</label>
        <select id="course" formControlName="course">
            <option value="math">Math</option>
            <option value="science">Science</option>
            <option value="history">History</option>
        </select>
    
        <button type="submit" [disabled]="enrollmentForm.invalid">Enroll</button>
    </form>
</div>
