$primary-black: #151517;
$primary-green: #25B78B;
$light-green: rgb(47, 185, 123, 0.4);
$primary-grey: rgba(167, 165, 165, 0.6);
$light-grey: rgb(221, 217, 217, 0.8);
$very-light-green: rgb(195, 247, 195, 0.8);